.idea/*

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/component/*.xml

/release

/*/.DS_Store

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB
/translations
