.idea/*

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/component/*.xml
/component/backend/vendor

/release

/*/.DS_Store

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB

# Symlink to FEF to let phpStorm auto-complete the CSS class names
/fef.min.css